<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Registration Form</h2>-->
<!--<form method="post" id="registrationForm" data-branches-url="{% url 'ajax_load_branches' %}" novalidate>-->
<!--{% csrf_token %}-->
<!--<table>-->
<!--  {{form.as_table}}-->
<!--</table>-->
<!--<button type="submit">Save</button>-->
<!--  <a href="{% url 'drop_changelist' %}">Nevermind</a>-->
<!--</form>-->

<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!--<script>-->
<!--    $("#id_district").change(function(){-->
<!--    var url=$("#registrationForm).attr("data-branches-url");-->
<!--    var districtId=$(this).val();-->

<!--    $.ajax({-->
<!--    url:url,-->
<!--    data:{-->
<!--    'district':districtId-->
<!--    },-->
<!--    success:function(data){-->
<!--    $("#id_branch").html(data);-->
<!--    }-->
<!--    });-->
<!--    });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->